@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  background-color: #282c34;
}

.App-header {
  padding: 1rem;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: white;
  font-size: 2.5rem;
  font-family: 'Caveat', cursive;
}

.button-add {
  margin-left: 1.5rem;
}

.input {
  width: 15rem;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: 'Caveat', cursive;
}

button:hover,
button:focus {
  transform: scale(1.2);
  transition: ease-in-out 0.1s;
}

.button-sign {
  margin-top: 2rem;
}

p:hover,
p:focus {
  cursor: pointer;
  transform: scale(1.2);
  transition: ease-in-out 0.1s;
}

.heading {
  padding: 1rem;
  min-height: fit-content;
  display: flex;
  margin-right: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;

}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input {
  border: none;
  border-bottom: 1px solid black;
}

main {
  text-align: center;
  max-width: 600px;
  margin: 1.5rem auto;
  padding: 0 50px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}

.todo {
  display: flex;
  justify-content: center;
}

.todo-item {
  text-decoration: none;
}

.complete {
  text-decoration: line-through;
}

.todo :last-child {
  margin-left: 2rem;
  color: #bf616a;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-div {
  color: white;
  margin-top: 20rem;
}

footer a {
  color: white;
}